/*html   {*/
/*    margin: 10px;*/
/*}*/
body {
    width: 339px;
    padding: 10px;
}

.alert-info {
    /*width: 339px;*/
    padding: 20px;
    background: aquamarine;
    text-align: center;
    border: 3px solid lightgray;
}

.alert-info a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

ul.nav-links {
    padding: 0;
}
.nav-links li {
    list-style: none;
    background-color: #ccc;
    margin: 10px 0;
    text-align: center;
    padding: 10px;

}
.nav-links a {
    text-decoration: underline;
    color: blue;
}

.header-img {
    /*margin: 0 auto;*/
    /*max-width: 339px;*/
}

img {
    width: 339px;
    height: 224px;
}

.sub-section p {
    font-style: italic;
}